<script setup lang="ts">
import BaseButton from '@/components/base/BaseButton.vue';
import { useAuthStore } from '@/modules/auth/stores/auth.store';
import { storeToRefs } from 'pinia';

const { isAdmin } = storeToRefs(useAuthStore())
</script>

<template>
	<div v-if="isAdmin">
		<BaseButton>Add Category</BaseButton>
		<BaseButton>Add Forum</BaseButton>
	</div>
</template>

<style scoped>

</style>
