<script setup lang="ts">
import IconShowEye from '@/components/icons/IconShowEye.vue';
import { computed, ref } from 'vue';

defineProps<{
	modelValue: string
}>()
const emit = defineEmits<{
	(e: 'update:modelValue', v: string): void
}>()

const showPassword = ref(false)
const inputType = computed(() => showPassword.value ? 'text' : 'password')

const handleInput = (e: Event) => {
	if (e.target instanceof HTMLInputElement) {
		emit('update:modelValue', e.target.value)
	}
}
</script>

<template>
	<div>
		<label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
		<div class="flex">
			<input
				class="rounded-none rounded-l-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
				:type="inputType"
				id="password"
				placeholder="" required
				:value="modelValue"
				@input="handleInput"
			/>
			<span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-r-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600 cursor-pointer"
			@click="showPassword = !showPassword"
			>
				<IconShowEye />
			</span>
		</div>

	</div>
</template>

<style scoped>

</style>
