<script setup lang="ts">
defineProps<{
	modelValue: string
}>()
const emit = defineEmits<{
	(e: 'update:modelValue', v: string): void
}>()

const handleInput = (e: Event) => {
	if (e.target instanceof HTMLInputElement) {
		emit('update:modelValue', e.target.value)
	}
}
</script>

<template>
	<div>
		<label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
		<input
			class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
			type="email" id="email"
			placeholder="test@test.com"
			:value="modelValue"
			@input="handleInput"
			required
		>
	</div>
</template>

<style scoped>

</style>
