<script setup lang="ts">
import InputEmail from './inputs/InputEmail.vue';
import InputPassword from './inputs/InputPassword.vue';
import { useAuthForm } from '../composables/useAuthForm';
import { postRegister } from '../services/auth.service';
import InputText from './inputs/InputText.vue';
import Swal from 'sweetalert2'
import { useAuthStore } from '../stores/auth.store';

const { reset, email, password, username, isAdmin } = useAuthForm()
const authStore = useAuthStore()

const handleSubmit = async () => {
	try {
		const { data } = await postRegister({ email: email.value, password: password.value, username: username.value, isAdmin: isAdmin.value })
		authStore.setAuth(data)
		Swal.fire({
			icon: 'success',
			title: 'Vous êtes maintenant enregistré !'
		})
	}
	catch (err) {
		console.error(err)
	}
}

</script>

<template>
	<form
		class="grid gap-6 mb-6 grid-cols-1 w-full sm:w-1/2"
		@submit.prevent="handleSubmit"
	>
		<InputText v-model="username" label="Username" id="username" />
		<InputEmail v-model="email" />
		<InputPassword v-model="password" />
		<div>
			Admin ? <input type="checkbox" id="is_admin" v-model="isAdmin" />
		</div>
		<button type="submit">S'enregistrer</button>
	</form>
</template>

<style scoped>

</style>
