<script setup lang="ts">
import InputEmail from './inputs/InputEmail.vue';
import InputPassword from './inputs/InputPassword.vue';
import { useAuthForm } from '../composables/useAuthForm';
import { postLogin } from '../services/auth.service';
import Swal from 'sweetalert2'
import { useAuthStore } from '../stores/auth.store';
import { useField, useForm } from 'vee-validate';
import { loginFormValidator } from '../validators/login.validator';
import type { AuthLoginForm } from '@/types/user.type';

// const { email, password } = useAuthForm()
const authStore = useAuthStore()

const { handleSubmit, useFieldModel, errors } = useForm<AuthLoginForm>({
	validationSchema: loginFormValidator(),
	initialValues: {
		email: '',
		password: ''
	},
})

const [email, password] = useFieldModel(['email', 'password'])

const onValid = async (values: AuthLoginForm) => {
	const { email, password } = values
	const { data } = await postLogin({ email, password })
	authStore.setAuth(data)
	Swal.fire({
		icon: 'success',
		title: 'Vous êtes maintenant connecté !'
	})
}

const onInvalid = () => {
	Swal.fire({
		icon: 'warning',
		title: 'Veuillez remplir correctement les champs'
	})
}

const onSubmit = handleSubmit(onValid, onInvalid)
</script>

<template>
	<form
		class="grid gap-6 mb-6 grid-cols-1 w-full sm:w-1/2"
		@submit.prevent="onSubmit"
	>
		<InputEmail v-model="email" />
		<div v-if="errors.email">{{ errors.email }}</div>
		<InputPassword v-model="password" />
		<div v-if="errors.password">{{ errors.password }}</div>
		<button type="submit">Se connecter</button>
	</form>
</template>

<style scoped>

</style>
