<script setup lang="ts">
import InputEmail from './inputs/InputEmail.vue';
import InputPassword from './inputs/InputPassword.vue';
import { useAuthForm } from '../composables/useAuthForm';
import { postLogin } from '../services/auth.service';
import Swal from 'sweetalert2'
import { useAuthStore } from '../stores/auth.store';

const { email, password } = useAuthForm()
const authStore = useAuthStore()

const handleSubmit = async () => {
	try {
		const { data } = await postLogin({ email: email.value, password: password.value })
		authStore.setAuth(data)
		Swal.fire({
			icon: 'success',
			title: 'Vous êtes maintenant connecté !'
		})
	}
	catch (err) {
		console.error(err)
	}
}

</script>

<template>
	<form
		class="grid gap-6 mb-6 grid-cols-1 w-full sm:w-1/2"
		@submit.prevent="handleSubmit"
	>
		<InputEmail v-model="email" />
		<InputPassword v-model="password" />
		<button type="submit">Se connecter</button>
	</form>
</template>

<style scoped>

</style>
