<script setup lang="ts">
import IconLoading from '@/components/icons/IconLoading.vue'
import { useCategoryStore } from '../../stores/category.store';
import { storeToRefs } from 'pinia';
import Swal from 'sweetalert2';


const categoryStore = useCategoryStore()
const {
	fullCategories,
	loading_fullCategories
} = storeToRefs(categoryStore)

</script>

<template>
	<template v-if="!loading_fullCategories">
		<div
			class="mt-3"
			v-for="(fcat, i) in fullCategories" :key="i"
		>
			<div class="mb-2">
				<RouterLink :to="`/forum/${fcat.slug}`">
					<h1 class="text-4xl">{{ fcat.name }}</h1>
				</RouterLink>
			</div>
			<div
				class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 mb-1"
				v-for="(forum, j) in fcat.forums" :key="`${i}_${j}`"
			>
				<RouterLink :to="`/forum/${fcat.slug}/${forum.slug}`">
					<h1>{{ forum.name }}</h1>
				</RouterLink>
			</div>
		</div>
	</template>
	<IconLoading v-else></IconLoading>
</template>

<style scoped>

</style>
