<script setup lang="ts">
import IconLoading from '@/components/icons/IconLoading.vue'
import { useCategoryStore } from '../../stores/category.store';
import { storeToRefs } from 'pinia';
import Swal from 'sweetalert2';
import { CategoryService } from '../../services/categories';
import type { FullCategory } from '@/types/category.type';
import BaseLoading from '@/components/BaseLoading.vue';

const categoryStore = useCategoryStore()
const { fullCategories } = storeToRefs(categoryStore)

const loadingAction = async () => {
	try {
		const { data } = await CategoryService.getAll<FullCategory[]>('?_embed=forums')
		categoryStore.setFullCategories(data)
	}
	catch (err) {
		Swal.fire({
			icon: 'error',
			title: 'Cannot load categories',
			text: (err as Error).message
		})
	}
}

await loadingAction()

</script>

<template>
	<div
		class="mt-3"
		v-for="(fcat, i) in fullCategories" :key="i"
	>
		<div class="mb-2">
			<RouterLink :to="`/forum/${fcat.slug}`">
				<h1 class="text-4xl">{{ fcat.name }}</h1>
			</RouterLink>
		</div>
		<div
			class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 mb-1"
			v-for="(forum, j) in fcat.forums" :key="`${i}_${j}`"
		>
			<RouterLink :to="`/forum/${fcat.slug}/${forum.slug}`">
				<h1>{{ forum.name }}</h1>
			</RouterLink>
		</div>
	</div>
</template>

<style scoped>

</style>
