<script setup lang="ts">
import IconLoading from '@/components/icons/IconLoading.vue'
import { useCategoryStore } from '../../stores/category.store';
import { storeToRefs } from 'pinia';
import Swal from 'sweetalert2';
import { useRoute } from 'vue-router';

const route = useRoute()
const categoryStore = useCategoryStore()
const {
	currentForum,
	topics,
} = storeToRefs(categoryStore)

</script>

<template>
	<template v-if="currentForum">
		<h1 class="text-4xl mb-4">{{ categoryStore.currentForum?.name }}</h1>
		<RouterLink
			class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 mb-1"
			v-for="(topic, i) in topics" :key="i"
			:to="`${route.path}/${topic.id}`"
		>
			<h3>{{ topic.title }}</h3>
		</RouterLink>
	</template>
	<IconLoading v-else></IconLoading>
</template>

<style scoped>

</style>
