<script setup lang="ts">
import IconLoading from '@/components/icons/IconLoading.vue'
import { useCategoryStore } from '../../stores/category.store';
import { storeToRefs } from 'pinia';
import Swal from 'sweetalert2';
import { useRoute } from 'vue-router';

const route = useRoute()
const categoryStore = useCategoryStore()
const {
	currentCategory,
} = storeToRefs(categoryStore)

</script>

<template>
	<template v-if="currentCategory">
		<h1 class="text-4xl mb-4">{{ categoryStore.currentCategory?.name }}</h1>
		<RouterLink
			:to="`${route.path}/${forum.slug}`"
			class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 mb-1"
			v-for="(forum, i) in currentCategory.forums" :key="i"
		>
			<h3>{{ forum.name }}</h3>
		</RouterLink>
	</template>
	<IconLoading v-else></IconLoading>
</template>

<style scoped>

</style>
