<script setup lang="ts">
import { watchEffect } from 'vue';
import { useCategoryStore } from '../stores/category.store';
import { useRoute } from 'vue-router';
import { storeToRefs } from 'pinia';
import ListTopics from '../components/list/ListTopics.vue';

const route = useRoute()
const categoryStore = useCategoryStore()
const { currentForum } = storeToRefs(categoryStore)

watchEffect(() => {
	console.log(currentForum.value)
	if (currentForum.value && currentForum.value.id)
		categoryStore.loadTopics(currentForum.value.id)
})
</script>

<template>
	<div>
		{{ route.params }}
		<ListTopics />
	</div>
</template>

<style scoped>

</style>
