<script setup lang="ts">
import AdminPanel from '../components/admin/AdminPanel.vue';
import FullCategories2 from '../components/list/FullCategories2.vue';
import Swal from 'sweetalert2';
import { useCategoryStore } from '../stores/category.store';
import { useRoute } from 'vue-router';
import { watchEffect } from 'vue';

const route = useRoute()
const categoryStore = useCategoryStore()
watchEffect(() => {
	if (route.params.categorySlug) {
		categoryStore.setCurrentCategorySlug(route.params.categorySlug as string)
	}
	if (route.params.forumSlug) {
		categoryStore.setCurrentForumSlug(route.params.forumSlug as string)
	}
})

const loadData = async () => {
	try {
		await categoryStore.loadFullCategories()
	}
	catch (err) {
		Swal.fire({
			icon: 'error',
			title: 'Cannot load data',
			text: (err as Error).message
		})
	}
}

loadData()

</script>

<template>
	<AdminPanel />
	<div class="px-5 flex mt-5">
		<div class="flex-col px-5">
			<FullCategories2></FullCategories2>
		</div>
		<div class="flex-col px-5">
			<RouterView></RouterView>
		</div>
	</div>
</template>

<style scoped>

</style>
