<script setup lang="ts">
import FormLogin from '../components/FormLoginValidate.vue';

</script>

<template>
	<div class="flex justify-center p-4">
		<FormLogin></FormLogin>
	</div>
</template>

<style scoped>

</style>
